body {
  font-family: raleway,sans-serif;
    margin: 0;
    padding: 0;
  }
  .header{
    margin-top:40px;
  }

  h4 {
    font-size: 28px;
    margin: 20px;
    text-align: center;
    color: #333;
  }
  
  .result{
    margin:50px;
    padding : 20px;
    border: 1px solid black;
    border-radius: 10px;
  }

  p {
    font-size: 20px;
    margin: 10px;
    color: #333;
  }

  .msg{font-size: 15px;}
  