{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
  <title>IIB: Recruitment Platform</title>
</head>

<body>
  <!-- Header and Nav -->
  <header>
    <nav>
      <div class="main">
        
        <ul class="main-list">
          <li class="active main-list-item"><a href="/home">Home</a></li>
          <li class="main-list-item"><a href="/solutions">Solutions</a></li>
          <li class="main-list-item"><a href="/features">Features</a></li>
          <li class="main-list-item"><a href="/resources">Resources</a></li>
          <li class="main-list-item"><a href="/demo">Demo</a></li>
          <li class="main-list-item"><a href="/registration">Login</a></li>
        </ul>
      </div>
    </nav>
    <!-- // Header and Nav -->

    <!-- Title heading -->
    <div class="title">
      <span class="heading">Interview Interactive Bot</span>
      <h1 class="heading-para">AI Recruitment Platform</h1>
      <span class="heading-caption">IIB is an advanced decision making Interactive Bot to make hiring easy, fast, and transparent.</span>
      <br><a href="/registration"><button class="button" style="vertical-align:middle"><span><b>Get in Touch </b></span></button></a>
      </div>
  </header>
  <!-- // Title heading -->

  <!-- Home section -->
  <div class="page-wrapper">
    <main>
      <section>
        <div class="page-wrapper">
          <div class="history">
            <h1 class="history-heading1">Intelligent Hiring</h1>
            <span class="history-caption">Automate your hiring and improve your recruitment efficiency and effectiveness with IIB's AI-powered solutions.</span>
            <hr />

            <!-- // Suite of Products -->
            <h2 class="history-heading2"> IIB suite of Products: </h2>
            <h3 class="history-heading3"> AI Powered Matching Engine</h3>
            <p class="history-para">
            Never miss out quality candidate with automated resume matching.
            </p>
            
            <h3 class="history-heading3">Chat Bot Screening</h3>
            <p class="history-para">
              Upgrade your screening through AI Questionnaire Bot. Converts and Screens passive profiles to active candidates in interviewing process.
            </p>

            <h3 class="history-heading3">Resume Parser</h3>
            <p class="history-para">
              Using Machine learning to extract information from most complex resumes.
            </p>
            <!-- // Suite of Products -->
            
            <!-- Interview Phases -->
            <h2 class="history-heading2">IIB's Interview Phases: </h2>
            <h3 class="history-heading3">Initial Screening</h3>
            <p class="history-para">
              Automate resume screening process with ML based model extracting important keywords from JD's written by the recuriting companies itself.
            </p>
            <h3 class="history-heading3">Interview Phase</h3>
            <p class="history-para">
              Select better talents deep learning based automated Questionnaire Bot :
              <br><b>HR Interview -</b>
              <br>NLP based psychological and Behavioural analysis through Psychoanalytical Questions. 
              <br><b>Technical Interview -</b>
              <br>Job and tecnhical skill based Questionnaires to get most skilled candidates in the respective fields.
            </p>
            <h3 class="history-heading3"> Dashboard Analytics and Analysis</h3>
            <p class="history-para">
              Get data-backed insights of your recuritment process.
            </p>
            <!-- // Interview Phases -->
            
            <!-- BLOG LINKS -->
            <h2 class="history-heading2">AI Recuritment Encycopedia</h2>
            <p class="history-para">
              <ul class="history-list">
                <li> <a href="https://www.hackerearth.com/blog/talent-assessment/tech-hiring-challenges/" target="_blank">Hiring Challenges</a><br>How to hire Startups?<br><small> Ruehie Jaiya Karri | Author</small></li>
                <li><a href="https://www.rchilli.com/blog/how-resume-parsing-software-can-reduce-the-hr-workload" target="_blank"> Resume Praser</a><br>Major Benefits of Resume Parsing & How to Do It Right<br><small>Amruta | Author </small></li>
                <li><a href="https://skillate.com/blog/inclusion-diversity/" target="_blank"> Case Study</a><br>Inclusion & Diversity – The Tales They Won’t Tell You<br><small>Naveen Narayanan | Sep9, 2020</small></li>
              </ul>

            </p>
            <!-- // BLOG LINKS -->
            
            <!-- Benefits -->
            <h2 class="history-heading2">We are enterprise-ready</h2>
            <p class="history-para">
              <ul class="history-list">
                <li><b>99.95%</b>
                  Availability</li>
                <li><b>Secured</b>
                  PII Encryption, Disaster Recovery</li>
                <li><b>Enabling unbiased hiring</b></li>
                <li><b>Integration with all major ATS</b></li>
                <li><b>EU GDPR Compliant</b></li>
                <li><b>Working with enterprises across sectors</b></li>
              </ul>
            </p>
            
            <!-- // Benefits-->
            
            <!-- Spotlight -->
            <h2 class="history-heading2">Spotlight</h2>
            <p class="history-para"></p>

            <!-- Image Gallery -->
            <div class="row">
              <div class="column">
                <img src="{% static 'upload/forbes.jpg' %}" href="https://www.forbes.com/sites/forbestechcouncil/2019/07/23/how-companies-are-augmenting-human-intelligence-with-ai/?sh=643b88a43135">
                <p><b>forbes.com</b></p>
                <br><p>How Companies Are Augmenting Human Intelligence With AI</p>
              </div>
              <div class="column">
                <img src="{% static 'upload/analyticsindiamag.png' %}" href="https://analyticsindiamag.com/bengaluru-based-recruitment-platform-skillate-reduces-hiring-time-by-50-using-nlp-deep-learning/">
                <p><b>analyticsindiamag.com.com</b></p>
                <br><p>Bengaluru-based Recruitment Platform Skillate Reduces Hiring Time By 50% Using NLP & Deep Learning</p>

              </div>
              <div class="column">
                <img src="{% static 'upload/economicstimes.png' %}" href="https://economictimes.indiatimes.com/jobs/how-artificial-intelligence-is-reshaping-recruitment-and-what-it-means-for-the-future-of-jobs/articleshow/60985946.cms">
                <p><b>economicstimes.indiatimes.com</b></p>
                <br><p>How artificial intelligence is reshaping recruitment, and what it means for the future of jobs</p>
              </div>
              

            </div>


            <!-- // Spotlight -->
          </div>
        </div>
      </section>
    </main>
  </div>
  <!-- // Home section -->

<!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text">
          <span class="logo-span">O</span>ur
          <span class="logo-span">T</span>eam
          <br><span class="logo-span">A</span>nurag
          <span class="logo-span">P</span>atter
          <br><span class="logo-span">V</span>ipul
          <span class="logo-span">K</span>anjolia
          <br><span class="logo-span">V</span>ivek
        </h1>
        <p class="footer-para">
          Let us help you transform your hiring process
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i>&nbsp; +91 95188 67576</span>
          <span
            ><i class="fas fa-envelope"></i>&nbsp;
            contact@iib.com</span>
        </div>
        
      </div>
    </div>
    <div class="footer-bottom">
      &copy; | Designed By IIB Team
    </div>
  </div>
</footer>
<!-- // Footer -->
</body>

</html>