{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <title>IIB: Recruitment Platform</title>
  </head>

  <body>
    <!-- Header and Nav -->
    <header>
      <nav>
        <div class="main">
          
          <ul class="main-list">
            <li class="main-list-item"><a href="Home.html">Home</a></li>
            <li class="active main-list-item"><a href="solutions.html">Solutions</a></li>
            <li class="main-list-item"><a href="features.html">Features</a></li>
            <li class="main-list-item"><a href="resources.html">Resources</a></li>
            <li class="main-list-item"><a href="integration.html">Integration</a></li>
            <li class="main-list-item"><a href="Login.html">Login</a></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Solutions</span>
      </div>
    </header>
    <!-- // Title heading -->

    <!-- PAGE WRAPPER 1 -->
    <div class="page-wrapper">
      <main>
        <section>
          <div class="page-wrapper">
            <div class="history">
              <h1 class="history-heading1">AI-Powered Matching Engine</h1>
            <span class="history-caption">Never miss out on a quality candidate with automated resume matching.</span>
            <hr />

            <!-- AI Powered Matching Engine -->
            <h2 class="history-heading2">How Does It Work?</h2>
            <h3 class="history-heading3">Beyond Keyword Matching</h3>
            <p class="history-para">
            Traditional resume keyword search ≠ Finding right candidate.
            <br>IIB’s deep learning algorithms understand the context behind each word in a resume.
            </p>

            <h3 class="history-heading3">AI based Scoring</h3>
            <p class="history-para">
            IIB provides absolute AI scores for every profile to rank candidates against the job. 
            <br>The weightage given to parameters can be customized by recruiters.
            </p>
           
            <h3 class="history-heading3">Make Use of your Existing Database</h3>
            <p class="history-para">Continuously expand your central database through a connected network of candidate sources: 
              <br>job boards, emails, consultancies, referrals, career page, etc.
              <br>Close openings faster with your available talent pool.
            </p>

            <h3 class="history-heading3">Variety of jobs</h3>
            <p class="history-para">Our Model utilizes the database that can be used to screen candidates for different types of jobs.
            </p>
          </div>
        </div>
      </section>
    </main>
  </div>
  
    <!-- // PAGE WRAPPER 1 -->

        <!-- PAGE WRAPPER 2 -->
        <div class="page-wrapper">
          <main>
            <section>
              <div class="page-wrapper">
                <div class="history">
                  <h1 class="history-heading1">Resume Praser and indxer</h1>
                <span class="history-caption">Use of Deep Learning to extract information from the most complex resumes.</span>
                <hr />
    
                <!-- Resume Praser and indexer -->
                <h2 class="history-heading2">How Does It Work?</h2>
                <h3 class="history-heading3">Processes Various File Formats</h3>
                <p class="history-para">
                The IIB resume parser can process all popular file types including PDF, DOC, DOCX,
                <br>giving candidates the freedom to upload their resume in any format.
                </p>
    
                <h3 class="history-heading3">Deciphers Complex Resumes</h3>
                <p class="history-para">
                The AI-based parser recognizes and extracts information from divergent formats
                </p>
               
                <h3 class="history-heading3">Machine Learning for Better Accuracy</h3>
                <p class="history-para">Optical Character Recognition (OCR) and Deep NLP algorithms to extract text from resumes.
                <br>Deep Learning applied to Named Entity Recognition (NER) for most accurate information extraction.
                </p>
    
                <h3 class="history-heading3">Lightning-fast Processing</h3>
                <p class="history-para">The AI-enabled parser takes 1-3 seconds to process the most complex of the resumes.
                </p>

                <h3 class="history-heading3">Candidate Engagement</h3>
                <p class="history-para">Leverage IIB solutions to openly communicate and easily convert passive candidates into active job seekers.</p>
              </div>
            </div>
          </section>
        </main>
      </div>
      
        <!-- // PAGE WRAPPER 2 -->

    <!-- Footer -->
    <footer>
      <div class="footer">
        <div class="footer-content">
          <div class="footer-section about">
            <h1 class="logo-text">
              <span class="logo-span">O</span>ur
              <span class="logo-span">T</span>eam
              <br><span class="logo-span">A</span>nurag
              <span class="logo-span">P</span>atter
              <br><span class="logo-span">V</span>ipul
              <span class="logo-span">K</span>anjolia
              <br><span class="logo-span">V</span>ivek
            </h1>
            <p class="footer-para">
              Let us help you transform your hiring process
            </p>
            <div class="contact">
              <span><i class="fas fa-phone"></i>&nbsp; +91 95188 67576</span>
              <span
                ><i class="fas fa-envelope"></i>&nbsp;
                contact@iib.com</span>
            </div>
            
          </div>
        </div>
        <div class="footer-bottom">
          &copy; | Designed By IIB Team
        </div>
      </div>
    </footer>
    <!-- // Footer -->
  </body>
</html>