{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
  <title>IIB: Recruitment Platform</title>
</head>

  <body>
    <!-- Header and Nav -->
    <header>
      <nav>
        <div class="main">
          
          <ul class="main-list">
            <li class="main-list-item"><a href="/home">Home</a></li>
            <li class="main-list-item"><a href="/solutions">Solutions</a></li>
            <li class="active main-list-item"><a href="/features">Features</a></li>
            <li class="main-list-item"><a href="/jobs">Jobs</a></li>
            <li class="main-list-item"><a href="/demo">Demo</a></li>
            <li class="main-list-item"><a href="/dashboard">Dashboard</a></li>
          </ul>
        </div>
      </nav>
      <!-- // Header and Nav -->

      <!-- Title heading -->
      <div class="title">
        <span class="heading">Features</span>
      </div>
    </header>
    <!-- // Title heading -->

    <!-- Restaurants -->
    <div class="solution-wrapper">
      <br><br>
      <h2>Why you need a technology platform for your hiring processes?</h2>
      <br>
      <p>Automate your hiring and improve your recruitment efficiency and effectiveness with IIB’s AI-powered solutions.</p>

      
      

      <br><br>
  </div>
    <!-- // Restaurants -->

    <!-- Footer -->
    <footer>
      <div class="footer">
        <div class="footer-content">
          <div class="footer-section about">
            <h1 class="logo-text">
              <span class="logo-span">O</span>ur
              <span class="logo-span">T</span>eam
              <br><span class="logo-span">A</span>nurag
              <span class="logo-span">P</span>atter
              <br><span class="logo-span">V</span>ipul
              <span class="logo-span">K</span>anjolia
              <br><span class="logo-span">V</span>ivek
            </h1>
            <p class="footer-para">
              Let us help you transform your hiring process
            </p>
            <div class="contact">
              <span><i class="fas fa-phone"></i>&nbsp; +91 00000 00000</span>
              <span
                ><i class="fas fa-envelope"></i>&nbsp;
                contact@iib.com</span>
            </div>
            
          </div>
        </div>
        <div class="footer-bottom">
          &copy; | Designed By IIB Team
        </div>
      </div>
    </footer>
    <!-- // Footer -->
    </body>
    
    </html>